.App {
  text-align: center;
}

.header {
  list-style-type: none;
  
}

footer {
  width: 500px;
  
  display: block; 
  margin: 0px auto;
}

footer .head {
  background-color: #ccc;
}

footer .ads {
  float: right;
  background-color: #ddd;
  width: 50%;
}

footer .copyrights
{
  float: left;
  background-color: #eee;
  width: 50%;

}